html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 500px) {
      header {
          display: flex;
      }

      header nav ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 250px;
      }

      h2 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      h1 {
          font-size: x-large;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      h3 {
        font-size: x-large;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }




/*   @media screen and (min-width: 850px) {
      
}

@media screen and (min-width: 1290px) {
      
} */