
p, h1 {
    text-align: center;
}

li {
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

li:hover {
    background-color: cyan;
}

li:active {
    font-family: fantasy;
}